requests==2.31.0
torch==2.4.0
boto3==1.34.11
tqdm==4.65.0
diffusers==0.30.2
toml==0.10.2
omegaconf==2.3.0
transformers==4.44.2
schedule==1.2.1
python-dotenv==1.0.1
peft==0.10.0
openai==1.14.3
accelerate==0.33.0
web3==6.18.0
mnemonic==0.21
sentencepiece==0.2.0
prettytable==3.10.0
hqq @ git+https://github.com/mobiusml/hqq@306e30d
bitsandbytes==0.43.1

